html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.ftco-navbar-light {
  background: transparent !important;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  z-index: 3;
  padding: 0;
}

.ftco-navbar-light .navbar-brand {
  color: #ffffff;
}

.ftco-navbar-light .navbar-brand:hover,
.ftco-navbar-light .navbar-brand:focus {
  color: #ffffff;
}

.ftco-navbar-light .navbar-nav > .nav-item > .nav-link {
  font-size: 14px;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 400;
  color: #ffffff;
  opacity: 1 !important;
}

.ftco-navbar-light .navbar-nav > .nav-item > .nav-link:hover {
  color: #ffffff;
}

.ftco-navbar-light .navbar-nav > .nav-item.cta > a {
  background: #c8a97e;
  color: #ffffff;
  border-radius: 5px;
}

.ftco-navbar-light .navbar-nav > .nav-item.active > a {
  color: #c8a97e;
}

/* ***************this below written code will work when our page content goes more than screen size or when it is scrolled */

.ftco-navbar-light.scrolled .nav-item.active > a {
  color: #c8a97e !important;
}

.ftco-navbar-light.scrolled .nav-item.cta > a {
  color: #ffffff !important;
  background: #c8a97e;
  border: none !important;
  border-radius: 0;
}
.ftco-navbar-light.scrolled .nav-item.cta > a span {
  display: inline-block;
  color: #ffffff !important;
}

.ftco-navbar-light.scrolled .nav-item.cta.cta-colored span {
  border-color: #c8a97e;
}

.ftco-navbar-light.scrolled .nav-link {
  padding-top: 0.7rem !important;
  padding-bottom: 0.7rem !important;
  color: #000000 !important;
}

.ftco-navbar-light.scrolled .nav-link.active {
  color: #c8a97e !important;
}

.ftco-navbar-light.scrolled.awake {
  margin-top: 0px;
  transition: 0.3s all ease-out;
}

.ftco-navbar-light.scrolled.sleep {
  transition: 0.3s all ease-out;
}
.ftco-navbar-light.scrolled .navbar-brand {
  color: #000000;
}

.navbar-brand {
  font-weight: 900;
  font-size: 20px;
}

/* *********carousel****** */

.owl-carousel {
  position: relative;
}
.owl-carousel .owl-item {
  opacity: 0.4;
}

.owl-carousel .owl-item.active {
  opacity: 1;
}

.owl-carousel .owl-nav {
  position: absolute;
  top: 50%;
  width: 100%;
}

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next {
  position: absolute;
  transform: translateY(-50%);
  margin-top: -10px;
  color: #c8a97e !important;
  transition: all 0.7s ease;
  opacity: 0;
}

.owl-carousel .owl-nav .owl-prev span::before,
.owl-carousel .owl-nav .owl-next span::before {
  font-size: 30px;
}

.owl-carousel .owl-nav .owl-prev {
  left: 0;
}
.owl-carousel .owl-nav .owl-next {
  right: 0;
}

.owl-carousel:hover .owl-nav .owl-prev,
.owl-carousel:hover .owl-nav .owl-next {
  opacity: 1;
}

.owl-carousel:hover .owl-nav .owl-prev {
  left: -25px;
}
.owl-carousel:hover .owl-nav .owl-next {
  right: -25px;
}

.owl-carousel.home-slider {
  position: relative;
  height: 750px;
  z-index: 0;
}

.owl-carousel.home-slider .slider-item {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 750px;
  position: relative;
  z-index: 0;
}

.owl-carousel.home-slider .slider-item .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000000;
  opacity: 0.7;
}

.owl-carousel.home-slider .slider-item .slider-text {
  color: #ffffff;
  height: 750px;
  text-align: right;
}

.owl-carousel.home-slider .slider-item .slider-text .subheading {
  font-size: 80px;
  color: #c8a97e;
  font-weight: normal;
  margin-bottom: 0;
  line-height: 1;
  font-family: "Great Vibes", cursive;
}

.owl-carousel.home-slider .slider-item .slider-text h1 {
  font-size: 60px;
  color: #ffffff;
  font-weight: 600;
  margin-bottom: 0;
  line-height: 1.5;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-family: "Poppins", cursive;
}

.owl-carousel.home-slider .owl-nav .owl-prev span,
.owl-carousel.home-slider .owl-nav .owl-next span {
  color: #ffffff;
}

.owl-carousel.home-slider:hover .owl-nav .owl-prev span,
.owl-carousel.home-slider:hover .owl-nav .owl-next span {
  opacity: 1;
}

.owl-carousel.home-slider:hover .owl-nav .owl-prev {
  left: 20px;
}

.owl-carousel.home-slider:hover .owl-nav .owl-next {
  right: 20px;
}

.owl-custom-nav {
  float: right;
  position: relative;
  z-index: 10;
}

.owl-custom-nav .owl-custom-prev,
.owl-custom-nav .owl-custom-nav {
  padding: 10px;
  font-size: 30px;
  background: #ccc;
  line-height: 0;
  width: 60px;
  text-align: center;
  display: inline-block;
}

/* *************featured section *************** */

.featured {
  padding-top: 30px;
  width: 100%;
  margin-top: -230px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.featured .featured-menus {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.featured .featured-menus .text {
  width: 100%;
}

.featured .featured-menus .text h3 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 0;
  color: #ffffff;
}

.featured .featured-menus .text p {
  font-size: 14px;
  margin-bottom: 0;
  color: rgba(255, 255, 255, 0.781);
}

.featured .featured-menus .menu-img {
  width: 90px;
  height: 90px;
  margin: 0 auto;
  margin-bottom: 10px;
  border-radius: 50%;
}
.img,
.user-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.ftco-wrap-about {
  background-position: bottom center !important;
}
.ftco-wrap-about .heading-section h2 {
  font-weight: 600 !important;
}

.ftco-wrap-about .img {
  width: 100%;
}

.intro {
  width: 100%;
  background: #ffffff;
  padding-top: 102px;
  padding-bottom: 0px;
}

.intro_image {
  width: 100%;
}

.intro_image img {
  max-width: 100%;
}

.intro_content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -165px;
  width: 679px;
  background: #ffffff;
  border: solid 2px #b49388;
  box-shadow: 0px 45px 70px rgba(0, 0, 0, 0.24);
  z-index: 1;
  padding-top: 55px;
  padding-bottom: 59px;
  padding-left: 70px;
  padding-right: 50px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.intro_subtitle {
  font-size: 28px;
  font-family: "Poppins";
}

.intro_title {
  margin-top: 6px;
  font-family: "Great Vibes", cursive;
  color: #9b4b15;
  font-weight: 600;
}

.intro_title h2 {
  font-size: 40px;
}

.intro_text {
  margin-top: 32px;
  font-size: 14px;
}

.ftco-animate {
  opacity: 0;
  visibility: hidden;
}


/* ********gallery section ********* */
.gallery__pic img {
  max-width: 100%;
}

.bg-light {
  background: #fafafa !important;
}

.ftco-section {
  padding: 7em 0;
  position: relative;
}

.heading-section {
  position: relative;
}

.heading-section .subheading {
  position: absolute;
  top: -50px;
  left: 0;
  right: 0;
  font-weight: normal;
  font-size: 100px;
  display: block;
  margin-bottom: 0;
  color: rgba(0, 0, 0, 0.2);
  color: #c8a97e;
  line-height: 1;
  margin-top: 0;
  z-index: -1;
  font-family: "Great Vibes", cursive;
}

.heading-section h2 {
  font-size: 50px;
  font-weight: 900;
  line-height: 1.2;
}

.menu-wrap {
  margin-bottom: 0;
}

.heading-menu h3 {
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 1em;
}

.menus {
  width: 100%;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border: 1px solid #e6e6e6;
  padding: 30px 20px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.menus .text {
  width: calc(100% - 100px);
  padding-left: 20px;
}

.menus .text .one-half {
  width: calc(100% - 80px);
}

.menus .text .one-half h3 {
  font-size: 24px;
  font-weight: 500;
}

.menus .text .one-forth {
  width: 80px;
  text-align: right;
}

.menus .text .one-forth .price {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.2);
  color: #000000;
  font-weight: 600;
  line-height: 1.3;
  transition: all 0.3s ease;
  border-bottom: 2px solid #ff2377;
}

.menus .text p {
  margin-bottom: 0;
  color: rgba(0, 0, 0, 0.8);
}
.menus .menu-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.menus:hover {
  border: 1px solid #ff2377;
  background: linear-gradient(
    235deg,
    rgba(231, 111, 169, 0.741) 30%,
    rgba(165, 77, 124, 0.763) 67%
  );
}

.menus:hover .text .one-forth .price {
  color: #ffffff;
  border-bottom: 2px solid #ffffff;
}

.menus:hover .text p {
  color: rgba(0, 0, 0, 0.8);
}

/* ******** ********* */


.makereservation {
  width: 100%;
  background: #ffffff;
}

.makereservation .form-group label {
  font-weight: 600;
  color: #000000;
}

.makereservation .form-group .icon {
  position: absolute;
  top: 50% !important;
  right: 20px;
  font-size: 14px;
  transform: translateY(-50%);
  color: rgba(0, 0, 0, 0.7);
}

.makereservation .form-group .select-wrap {
  position: relative;
}

.makereservation .form-group .select-wrap select {
  appearance: none;
}

.btn {
  cursor: pointer;
  border-radius: 2px;
  box-shadow: 0px 24px 48px -12px rgba(0, 0, 0, 0.1);
}

.btn:hover,
.btn:active,
.btn:focus {
  outline: none;
}

.btn.btn-primary {
  background: #c8a97e;
  border: 1px solid #c8a97e;
  color: #ffffff;
}

.btn.btn-primary:hover {
  background: transparent;
  border: 1px solid #c8a97e;
  color: #000000;
}

.btn.btn-primary.btn-outline-primary {
  border: 1px solid #c8a97e;
  background: transparent;
  color: #c8a97e;
}

.btn.btn-primary.btn-outline-primary:hover {
  border: 1px solid transparent;
  background: #c8a97e;
  color: #ffffff;
}


.ftco-bg-dark {
  background: #3c312e;
}

.ftco-footer {
  font-size: 14px;
  background: #141313;
  padding: 50px 0 10px 0px;
}
.ftco-footer .ftco-footer-logo {
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.ftco-footer .ftco-footer-widget h2 {
  font-weight: normal;
  color: #ffffff;
  margin-bottom: 40px;
  font-size: 18px;
  font-weight: 700;
}

.ftco-footer .ftco-footer-widget ul li a span {
  color: #ffffff;
}
.ftco-footer .ftco-footer-widget .open-hours li span {
  width: 100%;
  color: rgba(255, 255, 255, 0.7);
}
.ftco-footer .ftco-footer-widget .thumb a.thumb-menu {
  width: 100%;
  height: 100px;
  display: block;
}

.ftco-footer p {
  color: rgba(255, 255, 255, 0.7);
}

.ftco-footer a {
  color: rgba(255, 255, 255, 0.7);
}

.ftco-footer a:hover {
  color: #ffffff;
}

.ftco-footer .ftco-heading-2 {
  font-size: 17px;
  font-weight: 700;
  color: #000000;
}

